play-card {
  background-color: var(--color-green-400);
}

play-card h1 {
  color: var(--color-green-100);
}

play-card button.btn {
  background-color: var(--color-green-100);
  color: var(--color-green-400);
}

play-card button.btn:hover {
  background-color: var(--color-green-200);
  color: var(--color-green-400);
}
