login-page {
  display: flex;
  height: 100vh;
}

.sidebar {
  z-index: 2;
}

.sidebar h1 {
  color: var(--color-blue-400);
}

.wallpaper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.leaf {
  position: absolute;
  display: block;
  top: 0;
  opacity: 0.5;
}

.leaf:nth-child(1)  { z-index: 1; width: 50px;  filter: blur(1px); left: 2%;  animation: dropping 30s linear infinite, rotating 4s linear infinite; animation-delay: -1s;  }
.leaf:nth-child(2)  { z-index: 2; width: 70px;  filter: blur(0px); left: 7%;  animation: dropping 25s linear infinite, rotating 3s linear infinite; animation-delay: -19s; }
.leaf:nth-child(3)  { z-index: 1; width: 90px;  filter: blur(1px); left: 12%; animation: dropping 20s linear infinite, rotating 6s linear infinite; animation-delay: -8s;  }
.leaf:nth-child(4)  { z-index: 1; width: 110px; filter: blur(2px); left: 17%; animation: dropping 15s linear infinite, rotating 3s linear infinite; animation-delay: -17s; }
.leaf:nth-child(5)  { z-index: 1; width: 130px; filter: blur(3px); left: 22%; animation: dropping 10s linear infinite, rotating 4s linear infinite; animation-delay: -5s;  }
.leaf:nth-child(6)  { z-index: 1; width: 150px; filter: blur(4px); left: 27%; animation: dropping 5s  linear infinite, rotating 3s linear infinite; animation-delay: -3s;  }
.leaf:nth-child(7)  { z-index: 1; width: 50px;  filter: blur(1px); left: 32%; animation: dropping 30s linear infinite, rotating 6s linear infinite; animation-delay: -10s; }
.leaf:nth-child(8)  { z-index: 2; width: 70px;  filter: blur(0px); left: 37%; animation: dropping 25s linear infinite, rotating 3s linear infinite; animation-delay: -20s; }
.leaf:nth-child(9)  { z-index: 1; width: 90px;  filter: blur(1px); left: 42%; animation: dropping 20s linear infinite, rotating 4s linear infinite; animation-delay: -7s;  }
.leaf:nth-child(10) { z-index: 1; width: 110px; filter: blur(2px); left: 47%; animation: dropping 15s linear infinite, rotating 3s linear infinite; animation-delay: -18s; }
.leaf:nth-child(11) { z-index: 1; width: 130px; filter: blur(3px); left: 52%; animation: dropping 10s linear infinite, rotating 6s linear infinite; animation-delay: -6s;  }
.leaf:nth-child(12) { z-index: 1; width: 150px; filter: blur(4px); left: 57%; animation: dropping 5s  linear infinite, rotating 3s linear infinite; animation-delay: -4s;  }
.leaf:nth-child(13) { z-index: 1; width: 50px;  filter: blur(1px); left: 62%; animation: dropping 30s linear infinite, rotating 4s linear infinite; animation-delay: -11s; }
.leaf:nth-child(14) { z-index: 2; width: 70px;  filter: blur(0px); left: 67%; animation: dropping 25s linear infinite, rotating 3s linear infinite; animation-delay: -16s; }
.leaf:nth-child(15) { z-index: 1; width: 90px;  filter: blur(1px); left: 72%; animation: dropping 20s linear infinite, rotating 6s linear infinite; animation-delay: -14s; }
.leaf:nth-child(16) { z-index: 1; width: 110px; filter: blur(2px); left: 67%; animation: dropping 15s linear infinite, rotating 3s linear infinite; animation-delay: -13s; }
.leaf:nth-child(17) { z-index: 1; width: 130px; filter: blur(3px); left: 82%; animation: dropping 10s linear infinite, rotating 4s linear infinite; animation-delay: -2s;  }
.leaf:nth-child(18) { z-index: 1; width: 150px; filter: blur(4px); left: 87%; animation: dropping 5s  linear infinite, rotating 3s linear infinite; animation-delay: -9s;  }
.leaf:nth-child(19) { z-index: 1; width: 50px;  filter: blur(1px); left: 92%; animation: dropping 30s linear infinite, rotating 6s linear infinite; animation-delay: -15s; }
.leaf:nth-child(20) { z-index: 2; width: 70px;  filter: blur(0px); left: 97%; animation: dropping 25s linear infinite, rotating 3s linear infinite; animation-delay: -12s; }

@keyframes dropping {
  0% {
    top: -10%;
  }
  100% {
    top: 110%;
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
