my-navbar {
  font-family: "Koulen", sans-serif;
  letter-spacing: .25rem;
  position: relative;
  height: fit-content;
}

.link {
  color: var(--color-primary-100);
  transition: inherit;
}

.link:hover {
  background-color: var(--color-primary-100);
  color: var(--color-secondary-100);
}

.link:active {
  background-color: var(--color-secondary-100) !important;
  color: var(--color-primary-100) !important;
  border-color: var(--color-secondary-100) !important;
}

li .logout {
  background-color: orangered;
  color: var(--color-secondary-100);
}

li .logout:hover {
  background-color: red;
  color: var(--color-secondary-100);
}

li .logout:active {
  background-color: var(--color-secondary-100) !important;
  color: red !important;
  border-color: var(--color-secondary-100) !important;
}

.hamburger {
  display: none;
  cursor: pointer;
  background-color: var(--color-secondary-100);
}

.hamburger .line {
  width: 30px;
  height: 4px;
  background-color: var(--color-primary-100);
  margin-block: 6px;
  transition: inherit;
}

.hamburger:hover {
  background-color: var(--color-primary-100);
}

.hamburger:hover .line {
  background-color: var(--color-secondary-100);
}

.hamburger:active {
  background-color: var(--color-secondary-100) !important;
  border-color: var(--color-secondary-100) !important;
}

.hamburger:active .line {
  background-color: var(--color-primary-100) !important;
}

.nav-bar ul {
  transition: inherit;
}

@media only screen and (max-width: 992px) {
  my-navbar.active {
    background-color: var(--color-primary-200);
  }

  my-navbar.active .link {
    background-color: var(--color-primary-200);
    color: var(--color-secondary-100);
  }

  my-navbar.active .link:hover {
    background-color: var(--color-secondary-100);
    color: var(--color-primary-100);
  }

  .hamburger {
    display: block;
  }

  my-navbar.active .hamburger {
    background-color: var(--color-primary-200);
  }

  my-navbar.active .hamburger .line {
    background-color: var(--color-secondary-100);
  }

  my-navbar.active .hamburger:hover {
    background-color: var(--color-secondary-100);
  }

  my-navbar.active .hamburger:hover .line {
    background-color: var(--color-primary-200);
  }

  .nav-bar {
    display: none !important;
    width: 100vw;
    height: fit-content;
    padding-block: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-primary-200);
    color: var(--color-secondary-100);
    overflow: hidden;
  }

  .nav-bar ul {
    flex-direction: column;
  }

  my-navbar.active .nav-bar {
    display: flex !important;
  }
}

@media only screen and (max-width: 576px) {
  my-navbar.d-flex {
    padding-inline: .5rem !important;
  }

  my-navbar .logo {
    font-size: 1rem !important;
    padding-inline: 0 !important;
  }

  .hamburger .line {
    width: 15px;
    height: 2px;
    margin-block: 3px;
  }
}
