profile-page main {
  max-width: 1080px;
}

profile-page .player-data {
  background-color: var(--color-primary-400);
  color: var(--color-secondary-100);
  max-width: 1080px;
}

profile-page .player-data>.data-section {
  background-color: var(--color-primary-300);
}

profile-page .player-data>.data-section>img {
  width: 150px;
  height: 150px;
  background-color: var(--color-primary-300);
}

profile-page .player-data>.data-section>h1 {
  background-color: var(--color-primary-200);
}

profile-page .player-data>.data-section>h4 {
  color: var(--color-primary-100)
}

profile-page .player-data-related {
  background-color: var(--color-primary-400);
}

profile-page .player-data-related>div {
  background-color: var(--color-primary-300);
  color: var(--color-secondary-100);
}

profile-page .match-cards>match-card,
profile-page .friend-cards>friend-card {
  background-color: var(--color-primary-200);
}

profile-page .match-history h2,
profile-page .friend-list h2 {
  background-color: var(--color-primary-100);
}

profile-page .friend-cards {
  grid-template-columns: repeat(auto-fit, 100px);
}

.friend-cards img {
  width: 50px;
  height: 50px;
}
