* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
/*
  --color-primary-100: #251749;
  --color-primary-200: #263159;
  --color-primary-300: #495579;
  --color-primary-400: #9bb8cd;
*/

  --color-primary-100: #484000;
  --color-primary-200: #8c8500;
  --color-primary-300: #d7be00;
  --color-primary-400: #ffe100;

  --color-secondary-100: #fffbeb;


  --color-blue: #2cacff;
  --color-yellow: #f8ec90;

  --color-font-black: #2b2b2b;
  --color-font-grey: #8f8f8f;
  --color-font-white: #f1f1f1;
}

#root {
  min-height: 100vh;
  /* background: linear-gradient(var(--color-secondary-100) 75%, var(--color-primary-400)); */
  background-color: black;
}

.my-page {
  height: min-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
