* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-primary-100: #251749;
  --color-primary-200: #263159;
  --color-primary-300: #495579;
  --color-primary-400: #9BB8CD;

  --color-secondary-100: #FFFBEB;
}

#root {
  min-height: 100vh;
  background: linear-gradient(var(--color-secondary-100) 75%, var(--color-primary-400));
}

.my-page {
  height: min-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
