* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-yellow: #f8ec9030;
  --color-yellow-solid: #2e2c1d;
  --color-yellow-light: #f8ec90;

  --color-blue: #2cacff30;
  --color-blue-solid: #0f3c5a;
  --color-blue-light: #2cacff;

  --color-primary: var(--color-yellow);
  --color-primary-solid: var(--color-yellow-solid);
  --color-primary-light: var(--color-yellow-light);

  --color-font-white: #fffbeb;
  --color-font-grey: #495579;
  --color-font-black: #1a1a1a;
}

#root {
  min-height: 100vh;
  /* background: linear-gradient(var(--color-font-white) 75%, var(--color-primary)); */
}

.my-page {
  height: min-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
