tournament-page main {
  max-width: 1080px;
}

.tournament-actions {
  background-color: var(--color-primary-400);
  max-width: 1080px;
}

.tournament-create,
.tournament-join,
.tournament-current {
  background-color: var(--color-primary-300);
  color: var(--color-secondary-100);
}

.tournament-create button,
.tournament-join button {
  background-color: var(--color-primary-200);
  color: var(--color-secondary-100);
}

.tournament-current h1 {
  background-color: var(--color-primary-100);
}

tournament-player-card div,
tournament-player-card h3 {
  background-color: var(--color-primary-300);
  color: var(--color-secondary-100);
}

tournament-player-card div img {
  width: 50px;
  height: 50px;
}

tournament-player-card div h6 {
  background-color: var(--color-primary-200);
  color: var(--color-secondary-100);
}

tournament-match-card {
  background-color: var(--color-primary-100);
  box-shadow: 5px 5px 10px 0px var(--color-primary-200);
}

tournament-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

tournament-popup>div {
  background-color: var(--color-primary-300);
}
