my-navbar {
  position: relative;
  height: fit-content;
  background-color: var(--color-green-100);
}

.logo ,
li .link {
  color: var(--color-green-100);
  background-color: var(--color-green-300);
}

li .link.logout {
  color: var(--bs-light);
  background-color: orangered;
}

.logo:hover ,
li .link:hover {
  color: var(--color-green-100);
  background-color: var(--color-green-400);
}

li .link.logout:hover {
  color: var(--bs-light);
  background-color: red;
}

.logo:active ,
li .link:active {
  color: var(--color-blue-400);
  background-color: var(--color-blue-100);
  border-color: var(--color-blue-400);
}

.hamburger {
  display: none;
  cursor: pointer;
  background-color: var(--color-green-300);
}

.hamburger .line {
  width: 30px;
  height: 4px;
  background-color: var(--color-green-100);
  margin-block: 6px;
}
  
.hamburger:hover {
  background-color: var(--color-green-400);
}

.hamburger:active .line {
  background-color: var(--bs-dark);
}

@media only screen and (max-width: 992px) {
  .hamburger {
    display: block;
  }

  .nav-bar {
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    background-color: var(--color-green-200);
    overflow: hidden;
  }

  .nav-bar ul {
    flex-direction: column;
    text-align: center;
    opacity: 0;
  }

  .nav-bar.active {
    height: fit-content;
    padding-block: 1rem;
  }

  .nav-bar.active ul {
    opacity: 1;
  }
}

@media only screen and (max-width: 576px) {
  my-navbar.d-flex {
    padding-inline: 1rem !important;
  }

  my-navbar .logo {
    font-size: 1rem !important;
  }

  .hamburger .line {
    width: 15px;
    height: 2px;
    margin-block: 3px;
  }
}
