tournament-players .start.btn,
tournament-players .leave.btn {
  background-color: var(--color-primary) !important;
  color: var(--color-font-white) !important;
}

tournament-players .start.btn:hover,
tournament-players .start.btn:active,
tournament-players .leave.btn:hover,
tournament-players .leave.btn:active {
  background-color: var(--color-primary) !important;
  color: var(--color-font-white) !important;
}
