game-page button.btn {
  background-color: var(--color-primary) !important;
  color: var(--color-primary) !important;
}

game-page button.btn:hover,
game-page button.btn:active {
  background-color: var(--color-primary) !important;
  color: var(--color-primary) !important;
}

#canvas-pong {
  width: 50%;
  height: 50%;
  background-image: url("../../images/stadium.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}
