tournament-page main {
  max-width: 1080px;
}

.tournament-actions {
  background-color: var(--color-primary-400);
  max-width: 1080px;
}

.tournament-create,
.tournament-join,
.tournament-current {
  background-color: var(--color-primary-300);
  color: var(--color-secondary-100);
}

.tournament-create button.btn {
  background-color: var(--color-primary-200) !important;
  color: var(--color-secondary-100) !important;
}

.tournament-create button.btn:hover,
.tournament-create button.btn:active {
  background-color: var(--color-primary-100) !important;
  color: var(--color-secondary-100) !important;
}

.tournament-current h1 {
  background-color: var(--color-primary-200);
}
