input[type="number"] {
  font-size: 50px;
  outline: none;
  text-align: center;
  border: none;
  color: var(--color-primary-100);
  background-color: var(--color-primary-400);
  border-radius: 50px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
